<nav class="navbar">
    <div class="logo">
      <a href="/">
        <img src="./assets/background/logo.png" />
      </a>
    </div>
    <div class="name">
        <span>G</span>
        <span>i</span>
        <span>a</span>
        <span>n</span>
        <span>c</span>
        <span>a</span>
        <span>r</span>
        <span>l</span>
        <span>o</span>
    </div>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/certificados">Certificados</a></li>
      <li><a href="/proyectos">Proyectos</a></li>
    </ul>
</nav>
