<div class="proyect-container">
    <!-- Proyecto 1 -->
    <div class="proyect-card">
        <img src="assets/proyects-card/proyectoTFG.jpg" alt="Proyecto 1"/> 
        <div class="project-icons">
            <h3 class="title-proyects">ElectroGestión</h3>
            <div style="display: flex; gap: 8px">
                <a href="http://104.248.32.80/" target="_blank">
                    <i class="fa fa-link fa-lg" aria-hidden="true" style="color: rgb(255, 255, 255);"></i>
                </a>
                <a href="https://github.com/gianpoker1/TFG/tree/docker" target="_blank" title="BACK-END"> 
                    <i class="fa fa-github fa-lg" aria-hidden="true" style="color: rgb(252, 251, 251);"></i>
                </a>
                <a href="https://github.com/gianpoker1/tfg-front/tree/digitalO" target="_blank" title="FRONT-END"> 
                    <i class="fa fa-github fa-lg" aria-hidden="true" style="color: rgb(252, 251, 251);"></i>
                </a>
            </div>
        </div>
        <p>Software informático integral para la gestión de negocios de venta de productos electrónicos. Desde la creación de tiendas online hasta la administración de garantías y citas postventa
            <br><br>Acceso Admin:<br>User: admin&#64;mail.com<br>Password: 123789654<br>
            <br>Acceso Empleado:<br>User: trabajador&#64;mail.com<br>Password: 123789654<br>
            <br>Acceso Cliente:<br>User: client&#64;email.com<br>Password: 123789654<br>
        </p>
        <div>
            <button class="custom-label" disabled >Java</button>
            <button class="custom-label" disabled >Spring</button>
            <button class="custom-label" disabled >Angular</button>
            <button class="custom-label" disabled >HTML</button>
            <button class="custom-label" disabled>CSS</button>
        </div>
        </div>

        
        <!-- Proyecto 2 -->
        <div class="proyect-card">
        <img src="assets/proyects-card/underConstruction.jpg" alt="Proyecto 2"/>
        <div class="project-icons">
            <h3 class="title-proyects">eFootball League Manager</h3>
            <div style="display: flex; gap: 8px">
                <a href="#">
                    <i class="fa fa-link fa-lg" aria-hidden="true" style="color: rgb(255, 255, 255);"></i>
                </a>
                <a href="https://github.com/gianpoker1/ELeagueManagerBack" target="_blank" title="BACK-END">
                    <i class="fa fa-github fa-lg" aria-hidden="true" style="color: rgb(255, 255, 255);"></i>
                </a>
                <a href="https://github.com/gianpoker1/ELeagueManagerFront" target="_blank" title="FRONT-END">
                    <i class="fa fa-github fa-lg" aria-hidden="true" style="color: rgb(255, 255, 255);"></i>
                </a>
        </div>
        </div>
        <p>Plataforma web integral para gestionar ligas y torneos del videojuego eFootball. La aplicación muestra participantes con imágenes, resultados, fases, clasificaciones y detalles de torneos y ligas.</p>
        <div>
            <button class="custom-label" disabled >Java</button>
            <button class="custom-label" disabled >Spring</button>
            <button class="custom-label" disabled >Angular</button>
            <button class="custom-label" disabled >HTML</button>
            <button class="custom-label" disabled>CSS</button>
        </div>
    </div>
</div>

  
