

.proyect-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr)); 
    gap: 200px; /* Espacio entre las tarjetas */
    align-items: center;
    width: 100%;
  }

 .proyect-card {
    background: linear-gradient(to bottom, #01270c, #020800);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #ccc;
    padding: 5px;
    transition: transform 0.3s ease-in-out;
  } 

  .proyect-card:hover{
    transform: translate(0px , -10px);
  }

 .proyect-card img {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px; /* Espacio entre la imagen y el borde */
    max-width: 90%;
    height: auto;
  } 

 .project-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }  

  .title-proyects{
    margin-top: 50px;
    margin-left: 10px;
    text-align: left;
    flex-grow: 1;
    color: #ccc;
  }

  p{
    color: #ccc;
  }

  
  
.proyect-card .custom-label {
    font-weight: bold;
    color: #f5f3f2;
    margin-bottom: 20px; /* Espacio entre los botones */
    margin-right: 8px; /* Espacio entre los botones */
    border: 1px solid #ccc; /* Borde */
    border-radius: 10px; /* Bordes redondeados */
    background-color: #4d4949; /* Color de fondo */
    padding: 5px 10px; /* Espacio interno */
    font-size: 14px; /* Tamaño de fuente */
    cursor: auto; /* Cambia el cursor al pasar por encima */
  }





