  .modal-contenedor img {
    display: grid;
    max-width: 100%;
    height: max-content;
  }  

  .modal-contenedor {
    position: fixed;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1000; 
    width: 800px;
    height: 600px;
    background-color: white; /* Asegura un fondo sólido para el contenido del modal*/
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5); 
  }


