<div class="footer-container">
    <table >
        <tbody>
        <tr>
            <td class="td-custom-title">Paginas</td>
            <td class="td-custom-title">Social</td>
        </tr>
    
        <tr>
            <td class="td-custom-description"><a href="/">Index</a></td>
            <td class="td-custom-description"><i class="fa fa-github fa-lg" aria-hidden="true" style="color: rgb(255, 255, 255);"></i> <a href="https://github.com/gianpoker1" target="_blank">GitHub</a>  </td>
        </tr>
    
        <tr>
            <td class="td-custom-description"><a href="/proyectos">Proyectos</a></td>
            <td class="td-custom-description"><i class="fa fa-linkedin fa-lg" aria-hidden="true" style="color: rgb(255, 255, 255);"></i><a href="https://www.linkedin.com/in/giancarlo-berninzon/" target="_blank">LinkedIn</a></td>
        </tr>
    
        <tr>
            <td class="td-custom-description"><a href="/certificados">Certificados</a></td>
        </tr>
        </tbody>
    </table>
    <footer>
        <div class="desing">
        <p>© 2024 Giancarlo Berninzon</p>
        </div>
    </footer>

</div>
