/* You can add global styles to this file, and also import other style files */

body {
    /* background: linear-gradient(to bottom, #202020, #000035fd); */
    background-image: url(assets/background/fondo3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
}


