
<div class="intro-section">
    <h3>Hola, soy Giancarlo</h3>
    <p style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 60px;">Apasionado por el <span style="color: rgb(27, 138, 202);">código</span> y la creación<span style="color: rgb(27, 138, 202);"> digital</span></p>
    <div>
      <img src="assets/icons/angular.svg" alt="Angular" class="icon animated-icon" />
      <img src="assets/icons/javascript.svg" alt="JavaScript" class="icon animated-icon" />
      <img src="assets/icons/java.svg" alt="Java" class="icon animated-icon" />
      <img src="assets/icons/spring.svg" alt="Spring" class="icon animated-icon" />
      <img src="assets/icons/css.svg" alt="CSS" class="icon animated-icon" />
      <img src="assets/icons/html.svg" alt="HTML" class="icon animated-icon" />
      <img src="assets/icons/mysql.svg" alt="MySQL" class="icon animated-icon" />
      <img src="assets/icons/postgresql.svg" alt="PostgreSQL" class="icon animated-icon" />
      <img src="assets/icons/typescript.svg" alt="TypeScript" class="icon animated-icon" />
      <img src="assets/icons/docker.svg" alt="Docker" class="icon animated-icon" />
      <img src="assets/icons/intellij.svg" alt="Intellij" class="icon animated-icon" />
      <img src="assets/icons/github.svg" alt="GitHub" class="icon animated-icon" />
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="proyects-section">
      <h2 class="custom-h2">
        Estos son algunos de mi proyectos.
      </h2>
    </div> 
    <div class="project-container">
      <!-- Proyecto 1 -->
      <div class="project-card">
        <img src="assets/proyects-card/proyectoTFG.jpg" alt="Proyecto 1" />
        
        
        <div class="project-icons">
          <h3 class="title-proyects">ElectroGestión</h3>
          <div style="display: flex; gap: 8px;"> <!-- Añadir este div para agrupar los enlaces -->
            <a href="http://104.248.32.80/" target="_blank">
              <i class="fa fa-link fa-lg" aria-hidden="true" style="color: rgb(255, 255, 255);"></i>
            </a>
            <a href="https://github.com/gianpoker1/TFG/tree/docker" target="_blank" title="BACK-END">
              <i class="fa fa-github fa-lg" aria-hidden="true" style="color: rgb(252, 251, 251);"></i>
            </a>
            <a href="https://github.com/gianpoker1/tfg-front/tree/digitalO" target="_blank" title="FRONT-END">
              <i class="fa fa-github fa-lg" aria-hidden="true" style="color: rgb(252, 251, 251);"></i>
            </a>
        </div>
        </div>
        <p>Software informático integral para la gestión de negocios de venta de productos electrónicos. Desde la creación de tiendas online hasta la administración de garantías y citas postventa</p>
        <div>
          <button class="custom-label" disabled >Java</button>
          <button class="custom-label" disabled >Spring</button>
          <button class="custom-label" disabled >Angular</button>
          <button class="custom-label" disabled >HTML</button>
          <button class="custom-label" disabled>CSS</button>
        </div>
      </div>
      <!-- Proyecto 2 -->
      <div class="project-card">
        <img src="assets/proyects-card/underConstruction.jpg" alt="Proyecto 2" />
        
        
        <div class="project-icons">
          <h3 class="title-proyects">eFootball League Manager</h3>
          <div style="display: flex; gap: 8px;"> <!-- Añadir este div para agrupar los enlaces -->
            <a href="#" >
              <i class="fa fa-link fa-lg" aria-hidden="true" style="color: rgb(255, 255, 255);"></i>
            </a>
            <a href="https://github.com/gianpoker1/ELeagueManagerBack" target="_blank" title="BACK-END">
              <i class="fa fa-github fa-lg" aria-hidden="true" style="color: rgb(255, 255, 255);"></i>
            </a>
            <a href="https://github.com/gianpoker1/ELeagueManagerFront" target="_blank" title="FRONT-END">
              <i class="fa fa-github fa-lg" aria-hidden="true" style="color: rgb(255, 255, 255);"></i>
            </a>
          </div>
        </div>
        <p>Plataforma web integral para gestionar ligas y torneos del videojuego eFootball. La aplicación muestra participantes con imágenes, resultados, fases, clasificaciones y detalles de torneos y ligas.</p>
        <div>
          <button class="custom-label" disabled >Java</button>
          <button class="custom-label" disabled >Spring</button>
          <button class="custom-label" disabled >Angular</button>
          <button class="custom-label" disabled >HTML</button>
          <button class="custom-label" disabled>CSS</button>
        </div>
      </div>
    </div>
    <!-- contacto -->
    <div class="contact-section">
      <h2 class="custom-h2">
        Contáctame.
      </h2>
      <div>
        <a class="button-contact"href="mailto:giancarlo.berninzon.2@gmail.com">Enviar mensaje</a>
      </div>
    </div> 

